@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900");

.altura1 {
  width: 110%;
  height: 80%;
}

.fontNunito {
  font-family: "Nunito Sans";
}

/* Banner de la página */
.banner {
  z-index: 1;
  background: url(../images/home-banner.jpg) scroll;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner_inner {
  width: 100%;
}

.banner_inner .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner_content {
  margin-top: 70px;
}

.banner .banner_inner .banner_content h2 {
  color: #fff;
  font-size: 48px;
  font-family: "Heebo", sans-serif;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: bold;
}

.banner .banner_inner .banner_content p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-left: 32px;
  margin-bottom: 35px;
  max-width: 555px;
}

.banner .banner_inner .banner_content .page_link a {
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-right: 32px;
  position: relative;
}
.banner .banner_inner .banner_content .page_link a:before {
  content: "\e87a";
  font-family: "Linearicons-Free";
  font-size: 14px;
  position: absolute;
  right: -25px;
  top: 54%;
  transform: translateY(-50%);
}

.banner_btn {
  display: inline-block;
  background: #ff5733;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 148px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ff5733;
  line-height: 48px;
  border-radius: 3px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear 0s;
}
.banner_btn:hover {
  background: transparent;
  color: #ff5733;
}

.titulo {
  text-align: center;
  margin-bottom: 75px;
}
.titulo h2 {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  color: #222222;
  font-weight: bold;
  margin-bottom: 15px;
}
.titulo p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #777777;
  margin-bottom: 0px;
  max-width: 740px;
  margin: auto;
}

/* Servicios ofrecidos */
.services {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f9f9ff;
}

.services_inner {
  margin-bottom: -30px;
}

.services_item {
  margin-bottom: -30px;
}

.services img {
  border-radius: 5px;
}
.services_item h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  color: #222222;
  margin-top: 25px;
  margin-bottom: 12px;
  transition: all 300ms linear 0s;
}
.services_item p {
  margin-bottom: 0px;
}
.services_item:hover h4 {
  color: #ff5733;
}

/* Sobre nosotros */

.divSeccion {
  padding: 2.5em 0;
}

.sub-title {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 700;
  color: #ff5733;
  margin-bottom: 10px;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.textBody {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Nunito Sans";
}

/* Proyectos realizados*/
.projects_item {
  position: relative;
  overflow: hidden;
}
.projects_item img {
  width: 100%;
}
.projects_item .hover {
  position: absolute;
  left: 0px;
  bottom: -100%;
  background: #ff5733;
  width: 100%;
  padding: 36px;
  transition: all 400ms ease;
}
.projects_item .hover h4 {
  color: #222222;
  text-transform: uppercase;
  font-size: 18px;
}
.projects_item .hover p {
  color: #222222;
  max-width: 570px;
  margin-bottom: 0px;
}
.projects_item:hover .hover {
  bottom: 0px;
}

.centrado2 {
  align-items: center;
}
.centrado {
  text-align: center;
}

.wd_18 {
  flex: 0 0 18.23%;
  max-width: 18.23%;
}

.wd_44 {
  flex: 0 0 45.31%;
  max-width: 45.31%;
}

/*Servicios más populares*/
.serviciosPopulares {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f9f9ff;
}

/*Formulario de contacto*/
.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  margin-bottom: 1rem;
}

.btnForm {
  background: #ff5733;
}

/*Footer de la página*/
.footer_area {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #222222;
}

.f_title {
  margin-bottom: 35px;
}
.f_title h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.ab_widget p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  margin-bottom: 30px;
}
.ab_widget p a {
  color: #ff5733;
}
.ab_widget p + p {
  margin-bottom: 0px;
}

.footer_area .col-sm-6 {
  margin-bottom: 30px;
}
.footer_area .footer_inner {
  margin-bottom: -30px;
}
